* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.sliderButtons {
  text-align: center;
}
.sliderButtons button {
  border-radius: 30px;
  background-color: white;
  border: none;
  box-shadow: 0 0 15px rgba(34, 34, 34, 0.6784313725);
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-image: url("imgs/rightArrow.svg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.sliderButtons button:hover {
  transform: scale(0.95);
}
.sliderButtons button:first-child {
  transform: scaleX(-1);
}
.sliderButtons button:first-child:hover {
  transform: scale(-0.95);
}

.modal {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.modal form {
  background-color: white;
  display: flex;
  max-width: 250px;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  width: 90%;
  box-shadow: 0 0 10px rgba(36, 36, 36, 0.6705882353);
  border-radius: 5px;
}
.modal form input, .modal form button {
  height: 40px;
  border: 1px solid rgba(36, 36, 36, 0.3137254902);
  border-radius: 3px;
  padding: 0 5px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #222;
  cursor: pointer;
}
.modal form h3 {
  color: rgba(36, 36, 36, 0.3137254902);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

html {
  position: relative;
}

.phoneButton {
  display: flex;
  align-items: center;
  gap: 5px;
}
.phoneButton img {
  height: 20px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.card {
  box-shadow: 0 0 5px black;
  width: 30%;
  display: block;
  margin: 15px;
  font-family: "Poppins", sans-serif;
}
.card ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.card .cardInfo {
  padding: 10px;
}
.card .logo1 {
  background-image: url("imgs/personIcon.svg");
  width: 20px;
  height: 20px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.card .logo2 {
  background-image: url("imgs/bedIcon.svg");
  width: 20px;
  height: 20px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.card img {
  width: 100%;
}

#callMe {
  border: 1px solid white;
  border-radius: 20px;
  line-height: 30px;
}

header {
  background-color: #242424;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}
header .container a:hover {
  background-color: #424242;
}
header .container .left {
  display: flex;
}
header .container .left .logo {
  background-image: url("imgs/logoIcon.svg");
  width: 40px;
  height: 40px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
header .container .left ul {
  display: flex;
  list-style: none;
}
header .container .left ul li {
  position: relative;
}
header .container .left ul li:hover nav {
  transform: none;
}
header .container .left ul li nav {
  position: absolute;
  background-color: #242424;
  top: 40px;
  left: 0;
  transform: translateY(-100%);
  z-index: -1;
}
header .container .right {
  align-items: center;
  display: flex;
}
header .container .right .phoneButton {
  display: flex;
}

main .cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.sliderContainer {
  overflow: hidden;
}
.sliderContainer .sliderButtons {
  transform: translateY(-50%);
}
.sliderContainer .slider {
  display: flex;
  width: 300%;
  background-color: pink;
  transition: 0.6s;
}
.sliderContainer .slider .slide {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.sliderContainer .slider .slide:first-child {
  background-image: url("imgs/flat5.jpg");
}
.sliderContainer .slider .slide:nth-child(2) {
  background-image: url("imgs/flat0.jpg");
}
.sliderContainer .slider .slide:last-child {
  background-image: url("imgs/flat6.jpg");
}
.sliderContainer .slider .slide p {
  background-color: rgba(0, 0, 0, 0.768627451);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 60%;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 40px;
}
.sliderContainer .slider .slide h2 {
  font-family: "Poppins", sans-serif;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5215686275);
  color: white;
  font-size: 80px;
  line-height: 70px;
  margin: 40px 0;
}
.sliderContainer .slider .slide a {
  text-decoration: none;
  color: #222222;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 30px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.7843137255);
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #242424;
  padding: 40px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}
footer .container a:hover {
  background-color: #424242;
}
footer .container .left {
  display: flex;
}
footer .container .left .logo {
  background-image: url("imgs/logoIcon.svg");
  width: 40px;
  height: 40px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
footer .container .left ul {
  display: flex;
  list-style: none;
}
footer .container .left ul li {
  position: relative;
}
footer .container .left ul li:hover nav {
  transform: none;
}
footer .container .left ul li nav {
  position: absolute;
  background-color: #242424;
  top: 40px;
  left: 0;
  transform: translateY(-100%);
  z-index: -1;
}
footer .container .rightTop {
  align-items: center;
  display: flex;
}
footer .container .rightTop .loc {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .container .rightTop .loc img {
  height: 20px;
}
footer .container .rightTop .phoneButton {
  display: flex;
}
footer .container .rightBottom {
  display: flex;
  justify-content: flex-end;
}
footer .container .rightBottom a {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("imgs/mailIcon.svg");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}
footer .container .rightBottom a#vk {
  background-image: url("imgs/vkIcon.svg");
}
footer .container .rightBottom a#fb {
  background-image: url("imgs/fbIcon.svg");
}
footer .container .rightBottom a#inst {
  background-image: url("imgs/igIcon.svg");
}

.comms {
  margin: auto;
}
.comms .commentPair {
  display: none;
}
.comms .commentPair.activePair {
  display: flex;
}
.comms .commentPair .commCard {
  box-shadow: 0 0 5px black;
  margin: 15px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.comms .commentPair .commCard .person {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  gap: 12px;
  display: flex;
  color: #555;
}
.comms .commentPair .commCard .person img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}/*# sourceMappingURL=style.css.map */